extends ../layout

block content
  .admin-header
    div
      h1 Admin Product List
      p#userEmail.admin-subtitle
    button#logoutBtn(type='button') Log out

  .admin-toolbar
    label(for='searchInput') Search
    input#searchInput(type='text', placeholder='Search by product name or ID')
    label(for='limitSelect') Rows
    select#limitSelect
      option(value='10') 10
      option(value='20' selected=true) 20
      option(value='50') 50
    button#applyBtn(type='button') Apply

  p#statusText.status-text Loading...

  table#productsTable
    thead
      tr
        th ID
        th Name
        th Cost
        th Image
        th Actions
    tbody#productsBody
      tr
        td(colspan='5') Loading products...

  .pagination
    button#prevBtn(type='button') Previous
    span#pageInfo Page 1
    button#nextBtn(type='button') Next

  script(src='https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2')
  script(src='/javascripts/admin-auth.js')
  script(src='/javascripts/admin-products.js')
